.WP-Social-Bookmarking {
padding:10px 0 10px 0;
text-align:center;
width:95%;
clear:both;
}
.WP-Social-Bookmarking img {
 border:none;
 margin:1px;
 }
                                                                                            
